<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
   <h1>  100 Days of Code</h1>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <!-- Text link -->

      <%= link_to "Contact", "https://twitter.com/ferte_c", class: "navbar-wagon-item navbar-wagon-link" %>

      <% if user_signed_in? %>

    <!-- Profile picture and dropdown -->
    <div class="navbar-wagon-item">
    
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <%= link_to "log out", destroy_user_session_path, method: :delete %> </li>
        </ul>
    </div>

    <!-- Button (call-to-action) -->

   
    <a href=/days/new class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i>
    </a>
      <% else %>
      <%= link_to "Sign UP", new_user_registration_path, class:"waves-effect waves-light btn" %>
      <%= link_to " Log in", new_user_session_path, class:"waves-effect waves-light btn" %>
  <% end %>






</div>

</div>